# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules
./dinosaur-generator/node_modules
./server-api/src/node_modules
./Web API Simples/node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache